<div class="container scene-transition" [class.showing]="showing"
	[ngStyle]="{ 'background-image': 'url(' + clientUrl + '/assets/scenes/story-bg.jpeg)' }">
	<div class="page-flip-container" [class.hide]="!isTurningPage">
		<div class="bgFull sci-fi-font passive" [class.sliding-right]=" isTurningPage && direction==='Left'"
			[class.sliding-left]=" isTurningPage && direction==='Right'"
			[ngStyle]=" { 'background-image' : 'url(' + clientUrl + '/assets/order-tracker/paper.jpeg)' }">
		</div>
	</div>

	<div class="bgFull sci-fi-font show" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"
		[ngStyle]="{ 'background-image': 'url(' + clientUrl + '/assets/order-tracker/paper.jpeg)' }">
		<ng-container *ngIf="pageContent">
			<span class="header sci-fi-font" *ngIf="pageContent.header">{{pageContent.header}}</span>
			<img *ngIf="pageContent.image" [src]="pageContent.image" class="content">
			<span class="b" *ngIf="pageContent.footer">ffff</span>
		</ng-container>

	</div>
</div>
