form {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	flex-direction: column;

	mat-form-field {
		width: 40%;
		margin-left: 5%;
		align-self: center;
	}

	mat-form-field.wide {
		width: 80%;
	}

	.form-input {
		max-height: 80%;
		overflow-x: hidden;
		overflow-y: auto;
		margin-bottom: 10px;
	}

	.actions {
		margin-left: 5%;
		width: 85%;
		text-align: right;

		button {
			font-size: 1.5rem;
			height: 2.5rem;
			width: 5rem;
		}
	}
}
