/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-image: url('/assets/order-tracker/bg.jpeg');
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.sci-fi-font {
	font-family: 'share_tech_monoregular';
}

* {
	box-sizing: border-box;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
