pre {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	align-self: center;
	white-space: nowrap;
}

.player-hint {
	border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px grey;
    margin-bottom: 1rem;
    padding: 10px;
}

.full-width {
	width: 100%;
}
