<mat-card>
	<mat-card-header>
		<mat-card-title>Password Encryption Tool</mat-card-title>
		<mat-card-subtitle>Show a set of numbers to players that represents a password.<br>Have them find the decryption
			algorithm in game.</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>
			Only lowercase letters, only letters a through z. No punctuation.
		</p>
		<mat-form-field>
			<mat-label>Un-encrypted Password</mat-label>
			<input (input)="formatPassword()" (change)="formatPassword()" (blur)="formatPassword()" matInput
				placeholder="Ex. bughunt" [(ngModel)]="password">
		</mat-form-field>
		<p>
			Encrypted Password:<br>
		</p>
		<pre>
				{{ encryptedPassword }}
		</pre>
		<p>&nbsp;</p>
		<em>(Have your players find some version of the algorithm in game)</em>
		<div class="player-hint sci-fi-font">
			<em>Password Decryption Algorithm</em><br>
			<ol>
				<li>Divide the number by 10.</li>
				<li>Subtract 5 from the number.</li>
				<li>Find the position of that number in the alphabet. A is 1, B is 2, etc.</li>
			</ol>
		</div>
		<h4>Solution</h4>
		<mat-form-field class="full-width">
			<mat-label>Encrypted Password</mat-label>
			<input class="full-width" (input)="decryptPassword()" (change)="decryptPassword()" (blur)="decryptPassword()" matInput
				placeholder="Ex. 70 24 30 210" [(ngModel)]="encryptedInput">
		</mat-form-field>
		<p>
			Decrypted Password:<br>
		</p>
		<pre>
				{{ encryptedOutput }}
		</pre>
	</mat-card-content>
</mat-card>
