<div class="container" [ngStyle]="{ 'background-image': 'url(' + clientUrl + '/assets/order-tracker/bg.jpeg)' }">
	<div class="header">
		<button mat-raised-button color="primary" (click)="addChar()">Add DM Character</button>&nbsp;
		<button mat-raised-button color="accent" (click)="startOrNext()">
			{{ currentPlayerIndex === undefined ? 'Start' : 'Next' }}
		</button>&nbsp;
		<button mat-raised-button color="warn" (click)="reset()">Reset</button>
	</div>
	<div class="body">
		<mat-card class="player-card" *ngFor="let player of players; let i = index"
			[class.current-player]="currentPlayerIndex === i">
			<mat-card-header>
				<div mat-card-avatar class="header-image" [class.light]="player.image === 'unknown.png'"
					[ngStyle]="{ 'background-image': 'url(' + clientUrl + '/assets/profile/' + player.image + ' )' }">
				</div>
				<mat-card-title><a [href]="player.link" class="player-link sci-fi-font"
						target="_blank">{{player.name}}</a></mat-card-title>
				<mat-card-subtitle class="sci-fi-font">{{player.race}} {{player.playerClass}}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content class="card-content">
				<p [innerHtml]="player.dmNotes">
				</p>
				<div class="dm-banner" *ngIf="player.playerType === 'DM'">
					<mat-form-field appearance="fill">
						<mat-label>DM Icon:</mat-label>
						<select matNativeControl [(ngModel)]="player.bannerImage" name="bannerImage"
							(change)="onChangeImage()">
							<option value="" selected></option>
							<option *ngFor="let image of dmImages" [value]="image.value">
								{{image.viewValue}}
							</option>
						</select>
					</mat-form-field>
					<div *ngIf="player.bannerImage" class="banner-preview">
						<img [src]="clientUrl + '/assets/' + player.bannerImage">
					</div>
				</div>
				<div class="init sci-fi-font" [class.current-player]="currentPlayerIndex === i">
					<input [attr.data-player]="player.name" (focus)="selectOnFocus($event, player);"
						(blur)="focusedPlayer = null" matInput
						[class.focused]="focusedPlayer && focusedPlayer.id === player.id"
						(change)="orderPlayers(player)" [(ngModel)]="player.initiative" type="number"
						(keydown.enter)="onEnterKeydown($event, player)" (keydown.tab)="onTabKeydown($event, player)"
						class="sci-fi-font">
				</div>
			</mat-card-content>
			<!-- <mat-card-actions>
				<button mat-button>Highlight?</button>
			</mat-card-actions> -->
		</mat-card>

		<!-- <div class="player" *ngFor="let player of players; let i = index"
			[class.current-player]="currentPlayerIndex === i">
			<span class="icon">
				<img *ngIf="player.image" [src]="'/assets/profile/' + player.image" class="profile-pic" />
				<mat-icon *ngIf="!player.image" aria-hidden="false" aria-label="Example home icon"
					style="font-size: 42px;">
					{{player.playerType === 'DM' ? 'face_retouching_off' : 'face' }}
				</mat-icon>
			</span>
			<span class="name">
				{{player.name}}
			</span>
			<mat-form-field>
				<mat-label>Player Initiative</mat-label>
				<input (focus)="selectOnFocus($event)" matInput (change)="orderPlayers()"
					[(ngModel)]="player.initiative" type="number">
			</mat-form-field>
		</div> -->
	</div>
</div>
