<div class="container">
	<div class="header">
		<div class="left">
			<button mat-raised-button color="warn" (click)="addChar()">Add DM Character</button>&nbsp;
			<button mat-raised-button color="primary" (click)="startOrNext()">
				{{ currentPlayerIndex === undefined ? 'Start Encounter' : 'Next Player' }}
			</button>&nbsp;
			<button mat-raised-button (click)="reset()">Reset + Delete DM Characters</button>
		</div>

		<div class="right">
			<button mat-button [matMenuTriggerFor]="menu">Menu</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="addGoblin()">Add Goblin</button>
				<button mat-menu-item>Item 2</button>
			</mat-menu>
		</div>
	</div>
	<div class="body">
		<mat-card class="player-card" *ngFor="let player of players; let i = index"
			[class.current-player]="currentPlayerIndex === i">
			<mat-card-header>
				<div mat-card-avatar class="header-image" [class.light]="player.image === 'unknown.png'"
					[ngStyle]="{ 'background-image': 'url(' + clientUrl + '/assets/profile/' + player.image + ' )' }">
				</div>
				<mat-card-title><a [href]="player.link" class="player-link sci-fi-font"
						target="_blank">{{player.name}}</a></mat-card-title>
				<mat-card-subtitle class="sci-fi-font">{{player.race}} {{player.playerClass}}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content class="card-content sci-fi-font">

				<ng-container *ngIf="player && player.isDm()">
					Health: {{ player.asDm().health }}
					Stat Block: <img *ngIf="player.asDm().statBlock" [src]="player.asDm().statBlock">
					<div class="content-group">
						<div class="dm-banner">
							<div class="col">
								<mat-form-field appearance="fill">
									<mat-label>DM Icon:</mat-label>
									<select matNativeControl [(ngModel)]="player.bannerImage" name="bannerImage"
										(change)="onChangeImage()">
										<option value="" selected></option>
										<option *ngFor="let image of dmImages" [value]="image.value">
											{{image.viewValue}}
										</option>
									</select>
								</mat-form-field>
								<div *ngIf="player.bannerImage" class="banner-preview">
									<img [src]="clientUrl + '/assets/' + player.bannerImage">
								</div>
							</div>
							<div class="actions col">
								<button mat-raised-button color="warn" (click)="deletePlayer(player)">Delete</button>
							</div>
						</div>
					</div>

				</ng-container>

				<ng-container *ngIf="player.playerType !== 'DM'">
					<div class="content-group">
						<mat-accordion>
							<mat-expansion-panel>
								<mat-expansion-panel-header>
									<mat-panel-title>
										View DM Notes
									</mat-panel-title>
								</mat-expansion-panel-header>
								<p [innerHtml]="player.dmNotes">
								</p>
							</mat-expansion-panel>
						</mat-accordion>
					</div>
				</ng-container>

				<div *ngIf="isBattleActive" class="init sci-fi-font" [class.current-player]="currentPlayerIndex === i">
					<input [attr.data-player]="player.id" (focus)="selectOnFocus($event, player);"
						(blur)="focusedPlayer = null" matInput
						[class.focused]="focusedPlayer && focusedPlayer.id === player.id"
						(change)="orderPlayers(player)" [(ngModel)]="player.initiative" type="number"
						(keydown.enter)="onEnterKeydown($event, player)" (keydown.tab)="onTabKeydown($event, player)"
						class="sci-fi-font">
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
