<div class="container">
	<div class="header">
		<button mat-raised-button color="primary" (click)="addChar()">Add DM Character</button>&nbsp;
		<button mat-raised-button color="accent" (click)="startOrNext()">
			{{ currentPlayerIndex === undefined ? 'Start' : 'Next' }}
		</button>&nbsp;
		<button mat-raised-button color="warn" (click)="reset()">Reset</button>
	</div>
	<div class="body">
		<div class="player" *ngFor="let player of players; let i = index"
			[class.current-player]="currentPlayerIndex === i">
			<span class="icon">
				<img *ngIf="player.image" [src]="'/assets/profile/' + player.image" class="profile-pic" />
				<mat-icon *ngIf="!player.image" aria-hidden="false" aria-label="Example home icon"
					style="font-size: 42px;">
					{{player.playerType === 'DM' ? 'face_retouching_off' : 'face' }}
				</mat-icon>
			</span>
			<span class="name">
				{{player.name}}
			</span>
			<mat-form-field>
				<mat-label>Player Initiative</mat-label>
				<input (focus)="selectOnFocus($event)" matInput (change)="orderPlayers()"
					[(ngModel)]="player.initiative" type="number">
			</mat-form-field>
		</div>
	</div>
</div>
