<mat-toolbar color="primary">
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
	</button>
	<span>Electro DM Client</span>
	<span class="example-spacer"></span>
	<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>

<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
	<a mat-tab-link *ngFor="let link of links" (click)="activeLink = link" [active]="activeLink == link"> {{link}} </a>
	<a mat-tab-link disabled>Disabled Link</a>
</nav>

<mat-tab-nav-panel #tabPanel>
	<div class="router">
		<router-outlet></router-outlet>
	</div>
</mat-tab-nav-panel>
