$width: 3.5rem;
$font-size: 2rem;

:host {
	z-index: 999999;
	left: 0;
	width: $width;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	position: absolute;
	top: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
	// opacity: 0.75;
	transform: translate(-20%, -50%);
	transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-property: opacity, transform, background-color;
	background: transparent;
	border: none;
}

:host(:hover) {
	// opacity: 1;
	transform: translate(0, -50%);

	.container::after {
		opacity: 1;
	}

	.container > span {
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
		height: auto;
		font-size: $font-size;
		text-align: center;
		transition: background-color 0.2s ease;
		border: 1px solid grey;
	}
}

.container::after {
	position: absolute;
	content: ' ';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 0px 5px 5px black;
	opacity: 0;
	transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-property: opacity;
	pointer-events: none;
}

.container {
	width: 100%;
	height: 100%;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0px;
	position: relative;

	> span {
		transition: all 0.2s ease;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 9px;
		height: auto;
		font-size: 1.75rem;
		text-align: center;
		background: silver;
		border: 1px solid grey;

		&.active {
			background: white;
		}

		&:first-child {
			border-top-right-radius: 10px;
		}

		&:last-child {
			border-bottom-right-radius: 10px;
		}

		&:hover {
			cursor: pointer;
			filter: brightness(1.2);
			// background-color: rgba(128, 128, 128, 0.432);
		}
	}
}

.blue {
	color: rgb(93, 93, 236);
}

.red {
	color: rgb(236, 94, 94);
}

.orange {
	color: orange;
}

.black {
	color: rgba(51, 51, 51, 0.683);
}
