.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.header {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	box-shadow: 0px 0px 3px 6px grey;
}

.body {
	margin-left: 3.5rem;
	width: calc(100% - 4.75rem);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 8px 14px #303030;
	background: #dfdfdf;
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	overflow-y: auto;
	margin-bottom: 20px;
}

.header {
	flex: 0 0 auto;
}

.body {
	flex: 1 1 auto;
	justify-content: center;
}
